.card-img-top {
  background-color: #c7bebe;
  padding: 50px;
}

.card_list_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &--no_result {
    background-color: #f5fdb0;
    text-align: center;
    padding: 30px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
  }
}
.card-body {
  background-color: $grey;
  &-top {
    display: flex;
    justify-content: space-between;
    &-time {
      display: flex;
    }
    &__i {
      padding: 5px;
    }
  }

  &-bottom {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 12px;
  }
}
.card {
  margin: 10px 5px;
  border-radius: 5px;
  width: 380px;
  &-text {
    width: 45%;
    height: 110px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
  }
  &-body {
    padding: 10px;
  }
}
li {
  list-style: none;
}
ul {
  padding: 0 20px 0 0;
}
