.refined_search_tag {
  display: flex;

  &__content {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 10px;
  }
}

.remove-tag {
  cursor: pointer;
}

.tag {
  &__ingredients {
    background-color: $primary-color;
  }
  &__appliances {
    background-color: $secondary-color;
  }

  &__ustensils {
    background-color: $tertiary-color;
  }
}
